/* === MOBILE VIEW === */
h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  font-family: "Manjari", sans-serif;
  max-width: 100%;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  font-family: "Manjari", sans-serif;
  max-width: 100%;
}

h3 {
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
  font-family: "Manjari", sans-serif;
  max-width: 100%;
}

h4 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  font-family: "Manjari", sans-serif;
  max-width: 100%;
}

h5 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  font-family: "Manjari", sans-serif;
  max-width: 100%;
}

h6 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  font-family: "Manjari", sans-serif;
  max-width: 100%;
}

/* === TABLET VIEW === */
@media (min-width: 480px) and (max-width: 768px) {
  h1 {
    font-size: 45px;
    line-height: 45px;
  }

  h2 {
    font-size: 35px;
    line-height: 35px;
  }

  h3 {
    font-size: 30px;
    line-height: 30px;
  }

  h4 {
    font-size: 25px;
    line-height: 25px;
  }

  h5 {
    font-size: 20px;
    line-height: 20px;
  }

  h6 {
    font-size: 18px;
    line-height: 18px;
  }
}

/* === DESKTOP VIEW === */
@media (min-width: 768px) {
  h1 {
    font-size: 50px;
    line-height: 50px;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
  }

  h3 {
    font-size: 35px;
    line-height: 35px;
  }

  h4 {
    font-size: 30px;
    line-height: 30px;
  }

  h5 {
    font-size: 25px;
    line-height: 25px;
  }

  h6 {
    font-size: 20px;
    line-height: 20px;
  }
}
